
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.robots or site.robots %}{% include add-robots-meta_tag.html %}{% endif %}
{%- seo -%}

{% if site.viacdn %}{% include add-viacdn-dns_prefetch.html %}{% endif %}
{% if site.google_adsense %}{% include add-google_adsense-dns_prefetch.html %}{% endif %}
{% if site.google_analytics %}{% include add-google_analytics-dns_prefetch.html %}{% endif %}
{% if site.google_analytics_audiences %}{% include add-google_analytics_audiences-dns_prefetch.html %}{% endif %}

<style type="text/css" media="all">
{% capture inline_css %}
  {% include styles/_sass/minima.scss %}
{% endcapture %}
{{ inline_css | scssify }}
</style>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% if site.google_analytics %}{% include add-google_analytics-tracking_code.html %}{% endif %}
</head>
