
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.robots %}{% include add-robots-meta_tag.html %}{% endif %}
{%- seo -%}

<!-- DNS Prefetching -->
{% if site.viacdn %}{% include add-viacdn-dns_prefetch.html %}{% endif %}
{% if site.google_adsense %}{% include add-google_adsense-dns_prefetch.html %}{% endif %}
{% if site.google_analytics %}{% include add-google_analytics-dns_prefetch.html %}{% endif %}
{% if site.google_analytics_audiences %}{% include add-google_analytics_audiences-dns_prefetch.html %}{% endif %}

<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

{% if site.google_analytics %}{% include add-google_analytics-tracking_code.html %}{% endif %}
</head>
